<div class="nested-fields">
<%= f.input :lat, required:true %>
<%= f.input :lon, required:true %>
<%= f.input :angle, required:true %>
<%= f.input :loss, required:true %>
<%= f.input :slope, required:true %>
<%= f.input :azimuth, required:true %>
<%= f.input :peakpower, required:true %>
<%= link_to_remove_association 'remove', f %>
</div>
