<h3>Create a new Proposal</h3>

    <%= simple_form_for @proposal do |f| %>
    <div class="form-group">
      <%= f.input :name, placeholder: 'Proposal Name goes here' %>
      <%= f.input :due_date, placeholder: 'Due date goes here' %>
    </div>
    <div class="form-group">
      <%= f.association :customer%>
    </div>
      <%= f.simple_fields_for :pvgisdata do |data| %>
      <div class="form-group" id="pvgi-fields">

        <%= link_to_add_association 'add', f, :pvgisdatas %>
      </div>
      <% end %>
      <div class="form-group">
     <%= f.button :submit, class: 'btn btn-flat' %>
     </div>
    <% end %>
   <%= link_to 'Back', proposals_path, class: 'btn btn-back' %>
